# Preprocessing and Cleaning

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [26]:
df = pd.read_csv('../processed Data/combined_electronics.csv')
df.head()

,title,price,category,site,original_price
0,Kisonli Kisonli LED-802 Soundbar Music Speaker...,595.0,audio,noon,NaN
1,Xiaomi Redmi Buds 6 Lite | 40dB With Hybrid AN...,1399.0,audio,noon,1589.7727272727273
2,Xiaomi Redmi buds 6 Lite Hybrid ANC Wireless E...,1399.0,audio,noon,1589.7727272727273
3,Yesido Yesido YH53 3.5mm In-Ear Wired Earphone...,149.0,audio,noon,298.0
4,Recci RECCI Metal Type-C Wired Earphone REP-L38,399.0,audio,noon,798.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30602 entries, 0 to 30601
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           30602 non-null  object
 1   price           29889 non-null  object
 2   category        30552 non-null  object
 3   site            30552 non-null  object
 4   original_price  11486 non-null  object
dtypes: object(5)
memory usage: 1.2+ MB

In [28]:
# convert price to numeric
df['price'] = df['price'].str.replace(r'\.{2,}', '.', regex=True)
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].str.strip()
df['price'] = df['price'].astype(float)

In [29]:

df['original_price'] = df['original_price'].str.replace('EGP', '', regex=False)
df['original_price'] = df['original_price'].str.replace(r'\s+', '', regex=True)  
df['original_price'] = df['original_price'].str.replace(',', '') 

df['original_price'] = df['original_price'].astype(float)

In [30]:
df['site'].unique()

array(['noon', nan, 'amazon'], dtype=object)

In [31]:
df['site'].value_counts(dropna=False)

site
noon      19963
amazon    10589
NaN          50
Name: count, dtype: int64

In [32]:
df['site'].fillna('noon', inplace=True)

C:\Users\ON-LINE\AppData\Local\Temp\ipykernel_20368\3163245635.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['site'].fillna('noon', inplace=True)

In [33]:
df['site'].value_counts(dropna=False)

site
noon      20013
amazon    10589
Name: count, dtype: int64

In [34]:
df.head()

,title,price,category,site,original_price
0,Kisonli Kisonli LED-802 Soundbar Music Speaker...,595.0,audio,noon,NaN
1,Xiaomi Redmi Buds 6 Lite | 40dB With Hybrid AN...,1399.0,audio,noon,1589.772727
2,Xiaomi Redmi buds 6 Lite Hybrid ANC Wireless E...,1399.0,audio,noon,1589.772727
3,Yesido Yesido YH53 3.5mm In-Ear Wired Earphone...,149.0,audio,noon,298.000000
4,Recci RECCI Metal Type-C Wired Earphone REP-L38,399.0,audio,noon,798.000000

In [ ]:
# It might not be accurate enough
df['brand'] = df['title'].str.split().str[0]

In [44]:
df.head()

,title,price,category,site,original_price,brand
0,Kisonli Kisonli LED-802 Soundbar Music Speaker...,595.0,audio,noon,NaN,Kisonli
1,Xiaomi Redmi Buds 6 Lite | 40dB With Hybrid AN...,1399.0,audio,noon,1589.772727,Xiaomi
2,Xiaomi Redmi buds 6 Lite Hybrid ANC Wireless E...,1399.0,audio,noon,1589.772727,Xiaomi
3,Yesido Yesido YH53 3.5mm In-Ear Wired Earphone...,149.0,audio,noon,298.000000,Yesido
4,Recci RECCI Metal Type-C Wired Earphone REP-L38,399.0,audio,noon,798.000000,Recci

In [43]:
df['brand'] = df['brand'].str.replace(r'[^A-Za-z0-9\s.,!?\'"-]', '', regex=True)

In [50]:
df['category'] = df['category'].str.replace('laptops', 'Laptops')

In [56]:
df[df['category'] == 'Laptops']['category'].value_counts()

category
Laptops    302
Name: count, dtype: int64

In [58]:
df.shape

(30602, 6)

In [59]:
df.to_csv('../processed Data/final_result.csv', index=False)